body {
  height: 100%;
  background-color: black;
}

#container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  animation: loop 30s -25s linear infinite;
}

#particles-js {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: black;
}

#santa {
  margin-top: 200px;
  height: 100%;
  animation: loop 50s -5s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
